body {
    background-color: #EBF6D9;
}

pre{
    font-family: 'Times New Roman', Times, serif;
}

b{
    color: white;
}

#page{
    align-items: center;
    width: 100vw;
}

#cabinetSection{
    background-color: blue;
    width: 100px;
    height: 100px;
}

#orderSection{
    width: 500px;
    height: fit-content;
    margin: 20px
}

.border{
    background-color: #877C7C;
    width: 100%;
    height: fit-content;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    padding: 20px;
}

.itemInfo{
    text-align: center;
}

.OrderText{
    color: white;
    font-size: larger;
}

.inputMed{
    border: none;
}

#addOrder{
    display: flex;
    flex-direction: row-reverse;
}

#buttonOrder{
    padding: 10px 20px;
    background-color: #0094FF;
    color: white;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 8px;
}

#deliverSection{
    height: fit-content;
    margin: 30px 20px;
}

#deliverList{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    flex-wrap: wrap;
    max-width: 70vw;
    width: fit-content;
}

.deliverItem{
    height: fit-content;
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
